.bottom-nav-container {
  justify-content: space-around;
  background-color: #ffffff;
  padding: 12px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-size: small;
  z-index: 10000;
  box-shadow: 0 0 1px 1px lightgray;
}

.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px 16px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0);
}

.nav-item ion-icon {
  font-size: x-large;
}
.nav-item p{
  font-weight: 500;

}

.nav-item span {
  width: 0;
  overflow: hidden;
}

.nav-item:focus {
  text-decoration: none;
  color: white;
  background-color: #e72129;
  transition: 0.2s;
}
.nav-item:active {
  text-decoration: none;
  color: white;
  background-color: #e72129;
  transition: 0.2s;
}

.nav-item:focus span {
  width: 100%;
  margin-left: 8px;
  transition: 0.2s;
}

*:focus {
  outline: none;
  border: none;
}


/* // ------------ HIDING NAVBAR ON SCROLL DOWN ------------ */
.visible {
  /* display: flex; */
  top: -80px;
  transition: top 0.4s ease-out;
}

.hidden {
  /* display: none; */
  top: 0; 
  transition: top 0.4s ease-out;
}