* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-weight: 300;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

/* -- swiper css -------  */

swiper-container {
  width: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  display: none;
}

.swiper-button-next {
  display: none;
}

/* ----- mobile version ---  */

.mobile-version {
  display: none;
}

.donation-slider-mobile {
  display: none;
}



/* ---------- header css --------  */
header {
  background: rgb(255, 255, 255);
}

/* --------- our campains ---------  */

/* - search btn -  */
.InputContainer {
  margin-bottom: -40px;
}

.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: 2rem auto;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #e72129;
  border-radius: 1.625rem;
  /* box-shadow: 0 0  1px 1px #faeae2; */
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;

}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
  scale: 1.1;
}


/* ---- slider --------  */
.donation-slider-card {
  height: auto;
  background-color: #ffffff;
  color: black;
  border-radius: 25px;
  box-shadow: 0 10px 10px lightgray;
  margin: 20px;
  padding-top: 4%;

}

.donation-slider-card p {
  font-weight: bold;
  display: flex;
  align-items: start;
  font-size: smaller;
}

.donation-slider-card p ion-icon {
  font-size: large;
  margin-top: 2px;
}

.donation-slider-card-1 {
  height: 70vh;
  background-color: #ffffff;
  color: black;
  border-radius: 25px;
  box-shadow: 0 10px 10px lightgray;
  margin: 0.5rem;
  padding-top: 4%;

}

.donation-slider-card-2 {
  background-color: #ffffff;
  color: black;
  border-radius: 25px;
  box-shadow: 0 10px 10px lightgray;
  margin: 1rem;
  padding-top: 0%;
  transition: all 0.3s ease;
}

.donation-slider-card-2:hover{
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.donation-slider-card-3{
  height: 80vh;
  background-color: #ffffff;
  color: black;
  border-radius: 25px;
  box-shadow: 0 10px 10px lightgray;
  margin: 0.5rem;
  padding-top: 4%;
}

.donation-slider-card-1 p {
  font-weight: 700;
  display: flex;
  align-items: start;
  font-size: large;
}

.donation-slider-card-1 p ion-icon {
  font-size: large;
  margin-top: 2px;
}

/* -------------- FILTER DIV -------------  */

/* .filterDiv {
  display: none; 
} */

.show {
  display: block;
}


/* -------------- FILTER DIV - CONTROL BTNS --------------  */

#myBtnContainer {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-top: 4%;
  gap: 25px;
}

#myBtnContainerMobile {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-top: 7%;
}


.donation-slider-filter-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-width: 90px;
  width: 110px;
  height: 90px;
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 15px;
  font-size: smaller;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
}

.donation-slider-filter-btn ion-icon {
  font-size: xx-large;
}


.active {
  background: #e72129;
  color: white;
  border: 2px solid #e72129;
}

#myBtnContainerMobile {
  display: none;
}

.donation-slider-filter-laptop {
  display: block;
}


/* ------- PROGRESS BAR  ------  */

.progress-loader {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  background: rgba(229, 229, 229);
  height: 10px;
  border-radius: 7px;
}

.progress {
  content: '';
  width: 1px;
  height: 10px;
  border-radius: 7px;
  /* background: rgb(68, 97, 169); */
  background: rgb(233, 167, 54);
  transition: 0.5s;
  animation: loading1274 2s ease infinite;
}

@keyframes loading1274 {
  0% {
    width: 20%;
  }

  100% {
    width: 20%;
  }

}

/* ---------- RAISE FUND SECTION --------  */
.raise-fund-section {
  background: #faeae2;
}

/* ---------- SOCIAL RECONIZATION ------  */
.social-img-container img {
  border-radius: 50%;
}


/* ---------------- SUPPORT FUNDRAISER CSS --------------  */
.Support-fundraiser-card{
  transition: all 0.3s ease;
}
.Support-fundraiser-card:hover {
  scale: 1.05;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* ------------ OUR TRUSTED NGOs --------------  */

.trusted-ngo-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 130px;
  height: 100px;
  padding: 25px;
  border: 2px solid lightgray;
  border-radius: 15px;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.trusted-ngo-box:hover {
  scale: 0.90;
  border: 2px solid #e72129;
  transition: all 0.2s ease-in;
}

/* ---------- STATISTIC SECTION -----------  */

.statistic-box-container ion-icon {
  font-size: 50px !important;
  color: #e72129;
}

.statistic-box p{
  font-weight: 500;

}

.statistic-box:hover {
  border: 2px solid #e72129;
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

/* ------ BG REMOVER ---  */

.bg-remover img {
  mix-blend-mode: darken;
}

/* -------- TAX BENIFT AVAILABLE -------  */

.tax-benift-text {
  position: absolute;
  background: #fae2e2;
  color: #e72129;
  padding: 1% 5%;
  border-radius: 0px 10px 10px 0px;
  font-size: x-small;

}

.category-list ion-icon {
  /* border: solid red; */
  font-size: x-large;
  padding-inline: 0.5rem;
}

.category-list button {
  /* border: solid red; */
  /* font-size: large; */
  font-weight: 600;
}

.category-list .active-btn {
  color: #e72129;
}

.category-div::after {
  content: none;
  position: absolute;
  width: 10rem;
  height: 1rem;
  top: 0;
  left: 0;
}

.category-div {
  position: relative;
}

/* --------- ICON CSS ---------  */

.fa-brands,
.fa-regular {
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
}

.fa-brands:hover,
.fa-regular:hover {
  color: white !important;
  transition: all 0.4s ease;
}

.fa-facebook-f {
  padding: 9px 12px;
}


.fa-facebook-f:hover {
  background: #1877f2 !important;
  border: 2px solid #1877f2;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #1877f2 inset, 0 0 20px 2px #1877f2;
}

.fa-twitter:hover {
  background: #1da1f2 !important;
  border: 2px solid #1da1f2;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #1da1f2 inset, 0 0 20px 2px #1da1f2;

}

.fa-instagram:hover {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7) padding-box,
    linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7) border-box;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0, 0 0 20px 2px #ee2a7b;
  border-radius: 50%;

}

.fa-envelope:hover {
  background: #c71610;
  border: 2px solid #c71610;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #c71610 inset, 0 0 20px 2px #c71610;
}

.fa-youtube:hover {
  background: red;
  border: 2px solid red;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0 red inset, 0 0 20px 2px red;
}

.fa-linkedin-in:hover {
  background: #1877f2 !important;
  border: 2px solid #1877f2;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #1877f2 inset, 0 0 20px 2px #1877f2;
}

.fa-whatsapp:hover {
  background: #25D366 !important;
  border: 2px solid #25D366;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #25D366 inset, 0 0 20px 2px #25D366;
}

.fa-phone {
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
}


.fa-phone:hover {
  background: #1877f2 !important;
  border: 2px solid #1877f2;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #1877f2 inset, 0 0 20px 2px #1877f2;
}

.mail-icon:hover {
  background: #e31409 !important;
  border: 2px solid #e31409;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #e31409 inset, 0 0 20px 2px #e31409;
}

.all-ngo-card {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

/* ----------- MODAL CSS ------------ */

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
  z-index: 10000;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #ffffff;
  padding: 1em 2em;
  font-size: larger;
}

.modal__content p:hover {
  border: 3px solid #000;
  transition: all ease 0.2s;
}

.modal__close {
  position: absolute;
  top: -10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
  font-size: 50px;
}

.modal__close:hover {
  color: #c92424;
}

/* 
.top-donor-list li::marker{
  content: '*';
} */

.contact-box-card {
  /* box-shadow: #fae2e2 0px 7px 29px 0px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact-box-card:hover {
  border: 0.5px solid black;
}

.scroll-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-button-container.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-button:hover {
  background-color: #0056b3;
}